<p id="notice"><%= notice %></p>

<p>
  <strong>Course work:</strong>
  <%= @course_outcome.course_work.name %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @course_outcome.outcome.objective_letter %>
</p>

<%= link_to 'Edit', edit_course_outcome_path(@course_outcome) %>
