<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_work.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @course_work.course.course_title %>
</p>

<%= link_to 'Edit', edit_course_work_path(@course_work) %> |
